<a href="/">
  <i class="fa-fa-home"></i>
</a>

<ul>
  <h1>Movie Details</h1>
    <li>
      <h4>{{ filmData.movies_title }}</h4>
      <p>{{ filmData.movies_runtime }}</p>
      <p>{{ filmData.movies_storyline }}</p>
      <p>{{ filmData.movies_year }}</p>
    </li>
</ul>

